<% include ../layouts/home/header %>

<div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Home</h1>
        <% posts.forEach(function(hasil){ %>
          <!-- Blog Post -->
          <div class="card mb-4">
            <img class="card-img-top" src="/uploads/<%= hasil.file %>" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title"><%= hasil.title %>  </h2>
              <p class="card-text"><%= hasil.body %></p>
              <a href="/posts/<%= hasil.id %>" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on <%= moment (hasil.date).fromNow() %> by
              <a href="#">Start Bootstrap</a>
            </div>
          </div>
        <% }); %>
          

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>

        </div>

        <% include ../partials/home/sidenav %>  


<% include ../layouts/home/footer %>