<% include ../../layouts/admin/header %>  
<div class="container">
    <h1 class="">All Posts Page</h1>  
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>Status</th>
                <th>Allow Comments</th>
                <th>Body</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
         <% result_posts.forEach(function(hasil){ %>
            <tr>
                <td><%= hasil.id %></td>
                <td><img class="img-responsive" src="/uploads/<%= hasil.file %>" height="50"></td>
                <td><%= hasil.title %></td>
                <td><%= hasil.status%> </td>
                <td><%= hasil.allowComments %></td>
                <td><%= hasil.body%></td>
                <td><%= moment (hasil.date).fromNow() %></td>
                <td><a href="/admin/posts/edit/<%= hasil.id %>" class="btn btn-info btn-sm">Edit</a> | 
                    <form action="/admin/posts/<%= hasil.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm" >Delete</button>
                    </form>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<% include ../../layouts/admin/footer %>  